<html>
    <head>
        <title> To do list </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add title" required />
                <button type="submit"> Add Item </button>
            </form>
            <ul>
                <li> Item 1</li>
                <li> Item 2</li>
                <li> Item 3</li>
            </ul>
        </div>
    </body>
</html>